/****** Global Styles ******/
body {
  color: #5e5d5e;
  font-family: "Source Sans Pro", sans-serif;
}

.content-wrapper {
  margin: 0 auto;
  overflow: auto;
  width: 1200px;
}

h1 {
}
/****** Header Styles ******/

/****** About Styles ******/

/****** Skill Styles ******/

/****** Contact Styles ******/

/*     font-family: ;

     */ ;
